body {
    margin: auto;
    width: 70%;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.blurb {
    background-color: #5c5c8a;
    margin: 0px auto;
    margin-bottom: 0px;
    top: 0px;
    /* padding: 20px; */
    /* left: 0px; */
}

.project_link {
    text-decoration: none;
}

.header-table {
    border-spacing: 20px;
    border-collapse: separate;
}

.container {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.inner {
    width: 96%;
    margin: 0 auto;
}

.header-cell {
    vertical-align: bottom;
    text-align: center;
}

#content {
    background-color: #5c5c8a;
    margin: 0px auto;
    margin-bottom: 0px;
    bottom: 0px;
    height: 100%;
}